background {
    color: #add8e6;
}


#Crystals Collector {
    font-size: 50px;
}

h1 {
    color: rgb(9, 146, 9);
    font-family: Arial, Helvetica, sans-serif;
    
}

p {
    color: rgb(9, 146, 9);
}